<div class="full-image-container honeymoon-viewport news-honeymoon-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
      <h1>
        {{ 'NEWS.HONEYMOON.TITLE' | translate }}
      </h1>

      <h2>{{ 'NEWS.HONEYMOON.DATE' | translate }}</h2>

      <p>{{ 'NEWS.HONEYMOON.WELCOME' | translate }}</p>
      <p>{{ 'NEWS.HONEYMOON.DETAILS-ONE' | translate }}</p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.MAURITIUS' | translate }}">
          <img src="/assets/images/mauritius-news.jpg" alt="Mauritius" title="Mauritius" />
        </span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.CHAMAREL' | translate }}">
          <img src="/assets/images/mauritius-chamarel.jpg" alt="Chamarel" title="Chamarel" />
        </span>
        <span class="rotate-plus-eight" title="{{ 'POLAROIDS.SNORKELING' | translate }}">
          <img src="/assets/images/mauritius-snorkeling.jpg" alt="Snorkeling" title="Snorkeling" />
        </span>
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.HOTEL' | translate }}">
          <img src="/assets/images/mauritius-hotel-cove.jpg" alt="Our hotel" title="Our hotel" />
        </span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.HOTEL' | translate }}">
          <img src="/assets/images/paradise-cove-boutique.jpg" alt="Our hotel" title="Our hotel" />
        </span>
      </div>

      <p>{{ 'NEWS.HONEYMOON.DETAILS-TWO' | translate }}</p>

      <p>{{ 'NEWS.FLIGHT.BYE' | translate }}</p>
      <p>{{ 'NEWS.FLIGHT.SIGNATURE' | translate }}</p>

    </div>

  </div>
</div>
