<div class="full-image-container honeymoon-viewport news-honeymoon-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
      <h1>
        {{ 'NEWS.HONEYMOON.TITLE' | translate }}
      </h1>

      <h2>{{ 'NEWS.HONEYMOON.DATE' | translate }}</h2>

      <br/>


      <p>{{ 'NEWS.HONEYMOON.WELCOME' | translate }}</p>
      <p>{{ 'NEWS.HONEYMOON.DETAILS-ONE' | translate }}</p>
      <p>{{ 'NEWS.HONEYMOON.DETAILS-TWO' | translate }}</p>

      <br/>
      <br/>

      <p>{{ 'NEWS.FLIGHT.BYE' | translate }}</p>
      <p>{{ 'NEWS.FLIGHT.SIGNATURE' | translate }}</p>


    </div>

  </div>
</div>
