.news-costa-background {
    background-color: rgb(146, 186, 196);
}

.news-costa-viewport {
  min-height: 100vh;
}

img {
  height: 37vmin;
}

.lires {
  height: 30vmin;
}

.white-bkgd {
  padding: 0 5vmin;
}

.learn  {
  padding: 8vmin 0 4vmin;
}

p {
  padding: 0;
}

h1 {
  font-size: 6vmin;
  padding: 10vmin 10vmin 3vh;
}

h2 {
  font-size: 4vmin;
}
