@import '../../../../variables';

.news-glossary-background {
  background-color: rgb(214, 193, 192);
}

h1 {
  font-size: 7vmin;
  padding: 10vmin 10vmin 3vh;
}

section {
  padding: 0 10vw 5vmin;
}

.table-title {
  margin-bottom: 2vmin;
}

table {
  width: 100%;
}

td {
  font-size: 3vmin;
  padding: 2vmin 1vmin 2vmin 0;
}

tr {
  border-bottom: 1px solid $font-color;
}

th {
  text-transform: uppercase;
}
