<div class="full-image-container news-hair-viewport news-hair-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
      <h1>
        {{ 'NEWS.HAIR.TITLE' | translate }}
      </h1>

      <h2>{{ 'NEWS.HAIR.DATE' | translate }}</h2>

      <p>{{ 'NEWS.HAIR.DETAILS' | translate }}</p>

      <ul>
        <li>
          <a href="http://www.rosagomez.es/desktop/principal.html" target="_blank">Peluquería Rosa Gómez</a>
          <div>{{ 'NEWS.HAIR.ADDRESS' | translate }} Rúa de Curros Enríquez, 7, 15702 Santiago de Compostela</div>
          <div>{{ 'NEWS.HAIR.PHONE' | translate }} +34 981 58 01 41</div>
        </li>
        <li>
          <a href="http://www.zamuz.es/" target="_blank">ZAMUZ</a>
          <div>{{ 'NEWS.HAIR.ADDRESS' | translate }} Rúa da República Arxentina, 13, 15701 Santiago de Compostela</div>
          <div>{{ 'NEWS.HAIR.PHONE' | translate }} +34 981 59 78 55</div>
        </li>
        <li>
          <a href="http://www.manuelbandin.es/" target="_blank">Salón Bandín</a>
          <div>{{ 'NEWS.HAIR.ADDRESS' | translate }} Rúa da República de El Salvador, 3, 15701 Santiago de Compostela</div>
          <div>{{ 'NEWS.HAIR.PHONE' | translate }} +34 981 59 01 35</div>
        </li>
        <li>
          <a href="http://www.marcoaldany.com/" target="_blank">Marco Aldany</a>
          <div>{{ 'NEWS.HAIR.ADDRESS' | translate }} Rúa do Hórreo, 36, 15701 Santiago de Compostela</div>
          <div>{{ 'NEWS.HAIR.PHONE' | translate }} +34 981 57 56 05</div>
        </li>
        <li>
          <a href="https://www.paxinasgalegas.es/-q-un-peine-513825em.html" target="_blank">+ q un Peine</a>
          <div>{{ 'NEWS.HAIR.ADDRESS' | translate }} Rúa de Fernando III o Santo, 15701 Santiago de Compostela</div>
          <div>{{ 'NEWS.HAIR.PHONE' | translate }} +34 981 30 78 49</div>
        </li>
      </ul>

      <p>{{ 'NEWS.HAIR.MORE' | translate }}</p>
      <p>{{ 'NEWS.HAIR.BYE' | translate }}</p>
      <p>{{ 'NEWS.HAIR.SIGNATURE' | translate }}</p>

    </div>

  </div>
</div>
