.contact-us-background {
  background-image: url("/assets/background/contact-us-champagne-background.png");
}

p {
  margin: 10vh 0;
}

.mail-link{
  text-align: center;

  a {
    padding: 1rem;
    color: #374557;
    border-radius: 12px;
    border: 2px solid;
  }
}

.hashtag{
  text-align: center;
  margin-top: 25vh;
}
