<div class="full-image-container full-viewport contact-us-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        {{ 'CONTACT.TITLE' | translate }}
      </h1>

      <p>
        {{ 'CONTACT.DETAILS' | translate }}
      </p>

      <div class="mail-link bold">
        <a (click)="onMailSent()" href="mailto:allyouneedisloveandchartreuse@gmail.com" target="_top">
          {{ 'CONTACT.BUTTON-LABEL' | translate }}
        </a>
      </div>

      <div class="hashtag bold">
        #allyouneedislove
      </div>

    </div>
  </div>
</div>
