<div class="full-image-container full-viewport contact-us-background">
  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
         CONTACT US
      </h1>

      <p>
        If you have any questions, suggestions, or you want to let us know that you are coming to our wedding (of course you are
        coming to our wedding!!!), you can send us a message:
      </p>

      <div class="mail-link bold">
        <a href="mailto:allyouneedisloveandchartreuse@gmail.com" target="_top">Email us</a>
      </div>

      <div class="hashtag bold">
        #allyouneedislove
      </div>

    </div>
  </div>
</div>
