<div class="full-image-container full-viewport blue-background-liverpool">
  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        THE BIG DAY
      </h1>

      <h2>
        CEREMONY
      </h2>

      <p>
        The ceremony will take place on <span class="bold">25.08.2018</span> at <span class="bold">18:00</span> at San Francisco’s Church in Santiago de Compostela (Galicia, Spain), which is just 150 metres away from the Cathedral.
      </p>

      <img class="img-standalone" src="/assets/images/wedding-day-church.jpg"/>

      <h2>
        RECEPTION
      </h2>

      <p>
        After the religious ceremony, the reception will take place just next door, at the Hotel Monumento <a href="http://www.sanfranciscohm.com/" target="_blank">San Francisco</a>.
      </p>

      <img class="img-standalone" src="/assets/images/wedding-day-francisco.jpg"/>

      <h2>
        GETTING THERE:
      </h2>


      <p class="church-address">
        San Francisco Hotel Monumento,
        Campillo de San Francisco 3,
        15705 Santiago de Compostela,
        A Coruña, España
      </p>


      <img class="img-standalone" src="/assets/images/wedding-day-itinerary.jpg"/>

    </div>
  </div>
</div>
