<div class="full-image-container full-viewport blue-background-liverpool">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        {{ 'WEDDING-DAY.TITLE' | translate }}
      </h1>

      <h2>
        {{ 'WEDDING-DAY.CEREMONY.TITLE' | translate }}
      </h2>

      <p>
        {{ 'WEDDING-DAY.CEREMONY.DETAILS-CEREMONY' | translate }}
        <span class="bold">{{ 'WEDDING-DAY.CEREMONY.DETAILS-DATE' | translate }}</span>
        {{ 'WEDDING-DAY.CEREMONY.DETAILS-TIME' | translate }}
        <span class="bold">18:00</span>
        {{ 'WEDDING-DAY.CEREMONY.DETAILS-LOCATION' | translate }}
      </p>

      <img class="img-standalone" src="/assets/images/wedding-day-church.jpg"/>

      <h2>
        {{ 'WEDDING-DAY.RECEPTION.TITLE' | translate }}
      </h2>

      <p>
        {{ 'WEDDING-DAY.RECEPTION.DETAILS' | translate }}  <a href="http://www.sanfranciscohm.com/" target="_blank">San Francisco</a>.
      </p>

      <img class="img-standalone" src="/assets/images/wedding-day-francisco.jpg"/>

      <h2>
         {{ 'WEDDING-DAY.GETTING-THERE.TITLE' | translate }}
      </h2>

      <p class="church-address">
        San Francisco Hotel Monumento,
        Campillo de San Francisco 3,
        15705 Santiago de Compostela,
        A Coruña, España
      </p>


      <img class="img-standalone" src="/assets/images/wedding-day-itinerary.jpg"/>

    </div>
  </div>
</div>
