<div class="full-image-container full-viewport blue-background-liverpool text-center">
    <h1 class="header bold">
      THE BIG DAY
    </h1>
    <h2 class="wedding-date">
      CEREMONY
    </h2>

    <div class="text-details">
      The ceremony will take place on <span class="bold">25.08.2018</span> at <span class="bold">18:00</span> at San Francisco’s Church in Santiago de Compostela (Galicia, Spain), which is just 150 metres away from the Cathedral.
    </div>

    <img src="/assets/images/wedding-day-church.jpg"/>

    <h2 class="wedding-date">
      RECEPTION
    </h2>

    <div class="text-details">
      After the religious ceremony, the reception will take place just next door, at the Hotel Monumento <a href="http://www.sanfranciscohm.com/" target="_blank">San Francisco</a>.
    </div>

    <img src="/assets/images/wedding-day-francisco.jpg"/>

    <h2 class="wedding-date">
      GETTING THERE:
    </h2>

    <div class="text-details">
      <p>San Francisco Hotel Monumento,
      Campillo de San Francisco 3,
      15705 Santiago de Compostela,
      A Coruña, España</p>
    </div>

    <div class="wedding-day-itinerary">
      <img src="/assets/images/wedding-day-itinerary.jpg"/>
    </div>

  </div>
