<div class="full-image-container full-viewport ferris-wheel-back-intro text-center">
  <div class="padding-border">
    <div class="white-bkgd">
      <h2 class="header-intro bold">
        WE ARE GETTING MARRIED!
      </h2>

      <div class="details">
        And we are thrilled to be able to share this experience with you!
        If you want to know more about our story, J-Y's lovely proposal in Liverpool and, of course, all the details about our wedding, as well as information for your upcoming trip to Galicia, look no further: it's all here!
      </div>

      <div class="see-you">
        See you all very soon! :)
      </div>

      <app-count-down></app-count-down>
    </div>
  </div>
</div>
