.ferris-wheel-back-intro {
  background-color: rgb(214, 193, 192);
}

.header-intro {
  padding-top: 10vh;
  text-align: center;
  font-size: 2rem;
}

.details {
  padding: 6vh 10vw;
}

.see-you {
  padding-bottom: 8vh;
  padding-top: 2vh;
  text-align: center;
}

p {
  margin-bottom: 0;
}
