.ferris-wheel-back-intro{
  // background-image: url("/assets/images/ferris_wheel_back_intro.png");
  background-color: rgb(214, 193, 192);
}

.header-intro{
  padding-top: 10vh;
}

.details{
  padding: 6vh 10vw;
}

.see-you{
  padding-bottom: 8vh;
  padding-top: 2vh;
}
