.ferris-wheel-back-intro{
  background-image: url("/assets/images/ferris_wheel_back_intro.png");
}

.header-intro{
  padding-top: 10vh;
}

.details{
  padding: 10vh 10vw;
}

.see-you{
  padding-bottom: 12vh;
  padding-top: 2vh;
}