.main-container{

  height: 100vh;

  background-image: url("/assets/images/ferris_wheel_back_1.png");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  transition: opacity 1s ease-in-out;
}

.header{
  text-align: center;
  padding-top: 25vh;
  font-size: 8vmin;
}

.language-link{
  float:right;
  margin: 1vh 3vw;
}

.story{
  text-align: center;
  height: 100vh;
}

.header-story{
  padding-top: 10vh;
}

.details{
  padding: 10vh 10vw;
}

.see-you{
  padding: 10vh 10vw;
}
