$border-radius: 6px;

h1 {
  padding: 8vmin 0 0;
}

.news-background {
  background-image: url("/assets/background/pexels-gifts-background.jpeg");
}

.news-viewport {
  min-height: 100vh;
}

.row {
  margin-bottom: 4vw;
}

.news-card {
  border-radius: $border-radius;
  min-height: 35vh;
  width: 44vw;
  padding: 1rem;
  margin: auto;
}

.news-title {
  margin-top: .5rem;
}

.news-date {
  margin-top: .2rem;
}

.first {
  margin-right: 4vw;
}

.image-frame {
  width: 100%;
  height: 35vmin;
  border-radius: $border-radius;
}

.apps-news {
  background-image: url("/assets/images/apps-news.jpg");
}

.santiago-news {
  background-image: url("/assets/images/santiago-news.jpg");
}

.mauritius-news {
  background-image: url("/assets/images/mauritius-news.jpg");
}

.fisterra-news {
  background-image: url("/assets/images/news-fisterra.jpg");
}

p {
  margin: 10vh 0;
}

.news-link {
  text-align: center;
  margin-top: 1rem;

  a {
    padding: .5rem;
    color: #374557;
    border-radius: 12px;
    border: 2px solid;
  }
}
