<div class="full-image-container news-viewport news-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <h1>
      {{ 'NEWS.TITLE' | translate }}
    </h1>

    <section>

      <div class="row">

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container faq-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.SEVEN.TITLE' | translate }}</div>
          <span class="news-date">25/07/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/faq">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container hair-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.SIX.TITLE' | translate }}</div>
          <span class="news-date">24/04/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/hair-makeup">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container glossary-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.FIVE.TITLE' | translate }}</div>
          <span class="news-date">23/04/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/glossary">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container apps-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.FOUR.TITLE' | translate }}</div>
          <span class="news-date">22/04/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/apps">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container fisterra-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.THREE.TITLE' | translate }}</div>
          <span class="news-date">18/02/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/costa-da-morte">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container mauritius-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.TWO.TITLE' | translate }}</div>
          <span class="news-date">12/02/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/honeymoon">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="white-bkgd news-card">
          <div class="image-frame full-image-container santiago-news"></div>

          <div class="news-title bold">{{ 'NEWS.ARTICLES.ONE.TITLE' | translate }}</div>
          <span class="news-date">10/02/2018</span>

          <div class="news-link bold">
            <a routerLink="/news/flights-and-accommodation">
              {{ 'NEWS.READ' | translate }}
            </a>
          </div>

        </div>

      </div>


    </section>
  </div>
</div>
