<div class="full-image-container glossary-viewport news-faq-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
      <h1>
        {{ 'NEWS.FAQ.TITLE' | translate }}
      </h1>

      <h2>{{ 'NEWS.FAQ.DATE' | translate }}</h2>

      <p>{{ 'NEWS.FAQ.WELCOME' | translate }}</p>
      <p>{{ 'NEWS.FAQ.DETAILS' | translate }}</p>
      <p>{{ 'NEWS.FAQ.DETAILS-TWO' | translate }}</p>
      <p>{{ 'NEWS.FAQ.DETAILS-THREE' | translate }}</p>

      <p class="bold">{{ 'NEWS.FAQ.FAQ-TITLE' | translate }}</p>

      <ol>
        <li>
           {{ 'NEWS.FAQ.FAQ-ONE' | translate }}<br/>
           {{ 'NEWS.FAQ.FAQ-ONE-A' | translate }}
           <span class="bold">{{ 'NEWS.FAQ.FAQ-ONE-B' | translate }}</span>
           {{ 'NEWS.FAQ.FAQ-ONE-C' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-TWO' | translate }}<br/>
          {{ 'NEWS.FAQ.FAQ-TWO-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-TWO-B' | translate }}</span>{{ 'NEWS.FAQ.FAQ-TWO-C' | translate }}

          <img class="img-standalone" src="/assets/images/faq-suit-up.jpg" />

          {{ 'NEWS.FAQ.FAQ-TWO-D' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-TWO-E' | translate }}</span>
          {{ 'NEWS.FAQ.FAQ-TWO-F' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-THREE' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-THREE-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-THREE-B' | translate }}</span>{{ 'NEWS.FAQ.FAQ-THREE-C' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-FOUR' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-FOUR-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-FOUR-B' | translate }}</span>
          {{ 'NEWS.FAQ.FAQ-FOUR-C' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-FOUR-D' | translate }}</span>{{ 'NEWS.FAQ.FAQ-FOUR-E' | translate }}

          <img class="img-standalone" src="/assets/images/faq-rain.jpg" />

        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-FIVE' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-FIVE-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-FIVE-B' | translate }}</span>{{ 'NEWS.FAQ.FAQ-FIVE-C' | translate }}
          <a routerLink="/gifts">{{ 'NEWS.FAQ.FAQ-FIVE-D' | translate }}</a>{{ 'NEWS.FAQ.FAQ-FIVE-E' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-SIX' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-SIX-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-SIX-B' | translate }}</span>
          {{ 'NEWS.FAQ.FAQ-SIX-C' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-SEVEN' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-SEVEN-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-SEVEN-B' | translate }}</span>{{ 'NEWS.FAQ.FAQ-SEVEN-C' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-SEVEN-D' | translate }}</span>{{ 'NEWS.FAQ.FAQ-SEVEN-E' | translate }}
        </li>
        <li>
          {{ 'NEWS.FAQ.FAQ-EIGHT' | translate }}
          <br/> {{ 'NEWS.FAQ.FAQ-EIGHT-A' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-EIGHT-B' | translate }}</span>{{ 'NEWS.FAQ.FAQ-EIGHT-C' | translate }}
          <span class="bold">{{ 'NEWS.FAQ.FAQ-EIGHT-D' | translate }}</span>{{ 'NEWS.FAQ.FAQ-EIGHT-E' | translate }}
          <a href="http://www.renfe.com/" target="_blank">{{ 'NEWS.FAQ.FAQ-EIGHT-F' | translate }}</a>{{ 'NEWS.FAQ.FAQ-EIGHT-G' | translate }}
        </li>
      </ol>

      <p>{{ 'NEWS.FAQ.CONCLUSION' | translate }}</p>
      <p>{{ 'NEWS.FAQ.BYE' | translate }}</p>
      <p>{{ 'NEWS.FAQ.SIGNATURE' | translate }}</p>

    </div>

  </div>
</div>
