<div class="full-image-container proposal-back-intro">
  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        THE PROPOSAL
      </h1>

      <p>
        After a long busy week at work, Jean-Yves called María on a Friday evening to let her know he was leaving work, as he usually does.
        Only this time he said: "You need to pack your suitcase. We are leaving in one hour and spending the weekend away."
      </p>

      <p>
        María was taken aback. She had no idea what to pack into her suitcase. Summer clothes?
        Winter clothes? Elegant or casual outfits? She decided to bring a bit of everything.
        After all, they were only going to be away for a couple of days,
        as she had an important interpreting job on Monday that she couldn't miss. 
      </p>

      <p>
        J-Y arrived by car an hour and a half later.
        They were going to Wales! They spent the first evening in Cardiff and then started a roadtrip around the Welsh countryside.
        The weather was awful but the landscapes were lovely!
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Roadtrip"><img src="/assets/images/proposal-car.png" alt="Roadtrip" title="Roadtrip"/></span>
        <span class="rotate-plus-four" title="Wales"><img src="/assets/images/proposal-maria-wild.png" alt="Wales" title="Wales"/></span>
        <span class="rotate-plus-four" title="Barmouth"><img src="/assets/images/proposal-barmouth.png" alt="Barmouth" title="Barmouth"/></span>
        <span class="rotate-minus-four" title="Landscape"><img src="/assets/images/proposal-forest.png" alt="Landscape" title="Landscape"/></span>
      </div>

      <p>
        On Saturday night they slept in a cosy bed and breakfast in the heart of Snowdonia.
        The following morning María was so sad that their little weekend break was coming to an end...
        They still had a day to go though! They visited Snowdonia and Caernarfon and had lunch in Conwy. 
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Caernarfon"><img src="/assets/images/proposal-caernarfon.png" alt="Caernarfon" title="Caernarfon"/></span>
        <span class="rotate-plus-four" title="Little friend"><img src="/assets/images/proposal-seagull.png" alt="Little friend" title="Little friendWales"/></span>
      </div>

      <p>
        While they were eating lunch, J-Y suggested adding an extra stop to their itinerary before going back to London,
        as they had plenty of time to spare. He said he was sure María would love that last stop,
        so she felt a bit intrigued and checked the maps on her phone.
        "Oh my God!", she said, "We are just an hour away from Liverpool! Are we going to Liverpool?"
      </p>

      <p>
        And they went to Liverpool indeed. It was one of María's favourite places,
        as it was the city of the Beatles and she had been there previously,
        visiting the Cavern and seeing a Paul McCartney concert.
        It was also a very special place for both of them, as they had been there together at the very beginning of their relationship. 
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="John!"><img src="/assets/images/proposal-john.png" alt="John!" title="John!"/></span>
      </div>

      <p>
        They visited Mathew Street, where the John Lennon statue and the Cavern are,
        and then headed back to Albert Dock, where the car was parked.
        Jean-Yves suggested a ride on the ferris wheel, to remember their first time in Liverpool.
        It was very windy, but the wheel was working. Although it all looked like an improvised plan,
        it turned out J-Y had booked the wheel's luxury cabin, with champagne and chocolates!
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Ferris wheel"><img src="/assets/images/proposal-wheel.png" alt="Ferris wheel" title="Ferris wheel"/></span>
      </div>

      <p>
        I think you can guess the end (or should we say the beginning?) of this story.
        When they were on the ferris wheel, Jean-Yves bent the knee (just like Jon Snow!) and.... spoiler alert: María said YES!!!
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="Engaaaged!!"><img src="/assets/images/proposal-engaged.png" alt="Ferris wheel" title="Ferris wheel"/></span>
      </div>

      <p>
        But that wasn't all: Jean-Yves had more surprises in store for María and the day was not over!
        He had booked the Paul McCartney suite at the Hard Day's Night Hotel, and a table at the amazing Panoramic 34 restaurant!
        In the end, María found out she didn't really have an interpreting job the following day...
        J-Y had thought of every single detail!
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title=""><img src="/assets/images/proposal-champagne.png" alt="Champagne" title="Champagne"/></span>
        <span class="rotate-minus-four" title=""><img src="/assets/images/proposal-cake.png" alt="Congratulations" title="Congratulations"/></span>
      </div>

      <p>
        So... this is how this all started!
        It was a very exciting weekend and we're happy we'll soon have the chance to share one of the most important
        days of our lives with you all!
      </p>
    </div>
  </div>
</div>
