<div class="full-image-container proposal-back-intro">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        {{ 'PROPOSAL.TITLE' | translate }}
      </h1>

      <p>
        {{ 'PROPOSAL.DEPARTURE' | translate }}
      </p>

      <p>
        {{ 'PROPOSAL.PACKING' | translate }}
      </p>

      <p>
        {{ 'PROPOSAL.CARDIFF' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.ROADTRIP' | translate }}"><img src="/assets/images/proposal-car.png" alt="Roadtrip" title="Roadtrip"/></span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.WALES' | translate }}"><img src="/assets/images/proposal-maria-wild.png" alt="Wales" title="Wales"/></span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.BARMOUTH' | translate }}"><img src="/assets/images/proposal-barmouth.png" alt="Barmouth" title="Barmouth"/></span>
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.LANDSCAPE' | translate }}"><img src="/assets/images/proposal-forest.png" alt="Landscape" title="Landscape"/></span>
      </div>

      <p *ngIf="translate.currentLang === 'es'; else otherLanguages">
        {{ 'PROPOSAL.ROAD-TRIP' | translate }}
        <span class="italic-text">{{ 'PROPOSAL.ROAD-TRIP-TWO' | translate }}</span>
        {{ 'PROPOSAL.ROAD-TRIP-THREE' | translate }}
      </p>
      <ng-template #otherLanguages>
        <p>
          {{ 'PROPOSAL.ROAD-TRIP' | translate }}
        </p>
      </ng-template>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.CAERNARFON' | translate }}"><img src="/assets/images/proposal-caernarfon.png" alt="Caernarfon" title="Caernarfon"/></span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.FRIEND' | translate }}"><img src="/assets/images/proposal-seagull.png" alt="Little friend" title="Little friendWales"/></span>
      </div>

      <p>
        {{ 'PROPOSAL.CONWY' | translate }}
      </p>

      <p>
        {{ 'PROPOSAL.ROAD-TO-LIVERPOOL' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.JOHN' | translate }}"><img src="/assets/images/proposal-john.png" alt="John!" title="John!"/></span>
      </div>

      <p>
        {{ 'PROPOSAL.LIVERPOOL' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.FERRIS' | translate }}"><img src="/assets/images/proposal-wheel.png" alt="Ferris wheel" title="Ferris wheel"/></span>
      </div>

      <p>
        {{ 'PROPOSAL.FERRIS' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.ENGAGED' | translate }}"><img src="/assets/images/proposal-engaged.png" alt="Ferris wheel" title="Ferris wheel"/></span>
      </div>

      <p>
        {{ 'PROPOSAL.NIGHT' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title=""><img src="/assets/images/proposal-champagne.png" alt="Champagne" title="Champagne"/></span>
        <span class="rotate-minus-four" title=""><img src="/assets/images/proposal-cake.png" alt="Congratulations" title="Congratulations"/></span>
      </div>

      <p>
        {{ 'PROPOSAL.CONCLUSION' | translate }}
      </p>
    </div>
  </div>
</div>
