.proposal-back-intro{
  // background-image: url("/assets/images/ferris_wheel_back_intro.png");
  background-color: rgb(214, 193, 192);
}

.header{
  padding-top: 6vh;
  padding-bottom: 2vh;
  font-size: 5vmin;
}

.story-part-one{
  padding: 0 10vw 3vh;
}
