<div class="full-image-container full-viewport news-flight-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
    <h1>
      {{ 'NEWS.FLIGHT.TITLE' | translate }}
    </h1>

    <h2>{{ 'NEWS.FLIGHT.DATE' | translate }}</h2>

    <p>{{ 'NEWS.FLIGHT.WELCOME' | translate }}</p>
    <p>
      {{ 'NEWS.FLIGHT.DETAILS-ONE' | translate }}
      <a href="mailto:allyouneedisloveandchartreuse@gmail.com" target="_top">
         {{ 'NEWS.FLIGHT.MAIL-LABEL' | translate }}
      </a>
      {{ 'NEWS.FLIGHT.DETAILS-TWO' | translate }}
    </p>
    <p>{{ 'NEWS.FLIGHT.BYE' | translate }}</p>
    <p>{{ 'NEWS.FLIGHT.SIGNATURE' | translate }}</p>


    </div>

  </div>
</div>
