.news-flight-background {
    background-color: rgb(146, 186, 196);
}

.news-flight-viewport {
  min-height: 100vh;
}

h1 {
  font-size: 6vmin;
  padding: 10vmin 10vmin 3vh;
}

h2 {
  font-size: 4vmin;
}
