<div class="full-image-container story-background">
  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        OUR STORY
      </h1>

      <p>
        A loooong long time ago -seven years to be precise- Jean-Yves, a smart and responsible aerospace engineering student, decided Glasgow would be the perfect destination for his Erasmus year. A few days after his arrival, he went on a trip to Edinburgh, the Scottish capital. There, among bagpipes, whisky and haggis, there was a group of Spanish ladies. Little did he know that he would end up proposing to one of them seven years later!
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four"  title="Edinburgh"><img src="/assets/images/story-group-castle.png" alt="Edinburgh" title="Edinburgh"/></span>
      </div>

      <p>
        María and Jean-Yves (aka Chantal) spent some time together over the following weeks and got to know each other. They started dating after a frightening Halloween soirée and J-Y declared his love under the beautiful Ferris Wheel in Liverpool, during a nice -and cold!- trip to the city of the Beatles.
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Halloween"><img src="/assets/images/story-group-halloween.png" alt="Halloween" title="Halloween"/></span>
      </div>

      <p>
        They had a great Erasmus year together...

        But, unfortunately, after a few amazing but short months, Jean-Yves had to go back to Toulouse and do his internship, and María had to finish her undergraduate studies in Vigo. It was quite scary at the beginning, but it also meant they both got to travel very often over the following few -not so few!- years.
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Santiago"><img src="/assets/images/story-us-santiago.png" alt="Santiago" title="Santiago"/></span>
        <span class="rotate-plus-four" title="Paris"><img src="/assets/images/story-us-paris.png" alt="Paris" title="Paris"/></span>
        <span class="rotate-minus-four" title="Toulouse"><img src="/assets/images/story-us-toulouse.png" alt="Toulouse" title="Toulouse"/></span>
      </div>

      <p>
        Jean-Yves soon moved to Nice, and María visited him as often as she could.
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="Madrid"><img src="/assets/images/story-us-madrid.png" alt="Madrid" title="Madrid"/></span>
        <span class="rotate-minus-four" title="Rome"><img src="/assets/images/story-us-rome.png" alt="Rome" title="Rome"/></span>
      </div>

      <p>
        She had decided she wanted to become a conference interpreter. But that meant spending one more year away from J-Y! She moved to Edinburgh to do her master's and, only a few months later, J-Y started working in London.
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-eight" title="Heriott-Watt"><img src="/assets/images/story-us-heriott-watt.png" alt="Heriott-Watt" title="Heriott-Watt"/></span>
        <span class="rotate-minus-sixteen" title="Edinburgh!"><img src="/assets/images/story-us-edinburgh.png" alt="Edinburgh!" title="Edinburgh!"/></span>
      </div>

      <p>
        When she finished her studies, she finally moved into J-Y's tiny flat in Barnes, west London  ("only" four years after they started dating!)
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="London"><img src="/assets/images/story-us-london.png" alt="London" title="London"/></span>
      </div>

      <p>
        They lived happily ever after, discovering every hidden place in London and travelling together...
      </p>


      <div class="polaroid-images">
        <span class="rotate-minus-four" title="New-York"><img src="/assets/images/story-us-new-york.png" alt="New-York" title="New-York"/></span>
        <span class="rotate-plus-four" title="Amsterdam"><img src="/assets/images/story-us-amsterdam.png" alt="Amsterdam" title="Amsterdam"/></span>
        <span class="rotate-plus-eight" title="Stockholm"><img src="/assets/images/story-us-stockholm.png" alt="Stockholm" title="Stockholm"/></span>
        <span class="rotate-minus-four" title="Vizille"><img src="/assets/images/story-us-vizille.png" alt="Vizille" title="Vizille"/></span>
        <span class="rotate-plus-four" title="Prague"><img src="/assets/images/story-us-prague.png" alt="Pragues" title="Prague"/></span>
      </div>

      <p>
        And several years later... <span class="bold">he proposed!</span>
      </p>

    </div>
  </div>

</div>
