.story-background{
  background-color: rgb(214, 193, 192);
}

.header{
  padding-top: 8vh;
  font-size: 5vmin;
}

.story-part-one{
  padding: 5vh 10vw;
}

.story-castle{
  width: 60vmin;
  border-radius: 25px;
  border: 2px solid rgb(55, 69, 87);
}