<div class="full-image-container story-background fixed-background text-center">
  <h1 class="header">
    OUR STORY
  </h1>
  <div class="story-part-one">
    A loooong long time ago -seven years to be precise- Jean-Yves, a smart and responsible aerospace engineering student, decided Glasgow would be the perfect destination for his Erasmus year. A few days after his arrival, he went on a trip to Edinburgh, the Scottish capital. There, among bagpipes, whisky and haggis, there was a group of Spanish ladies. Little did he know that he would end up proposing to one of them seven years later!
  </div>

  <div class="polaroid-images">
    <span href="" title="Edinburgh"><img height="200" src="/assets/images/story-group-castle.png" alt="Edinburgh" title="Edinburgh"/></span>
  </div>

</div>