.story-background{
  background-color: rgb(146, 186, 196);
  // background-image: url("/assets/images/ferris_wheel_back_intro.png");
}

.header{
  padding-top: 6vh;
  padding-bottom: 2vh;
  font-size: 5vmin;
}

.story-part-one{
  padding: 0 10vw 3vh;
}

.story-castle{
  width: 60vmin;
  border-radius: 25px;
  border: 2px solid rgb(55, 69, 87);
}
