<div class="full-image-container story-background">

<app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        {{ 'OUR-STORY.TITLE' | translate }}
      </h1>

      <p>
        {{ 'OUR-STORY.ENCOUNTER' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four"  title="Edinburgh"><img src="/assets/images/story-group-castle.png" alt="Edinburgh" title="Edinburgh"/></span>
      </div>

      <p>
       {{ 'OUR-STORY.BEGINNING' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Halloween"><img src="/assets/images/story-group-halloween.png" alt="Halloween" title="Halloween"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.ERASMUS' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Santiago"><img src="/assets/images/story-us-santiago.png" alt="Santiago" title="Santiago"/></span>
        <span class="rotate-plus-four" title="Paris"><img src="/assets/images/story-us-paris.png" alt="Paris" title="Paris"/></span>
        <span class="rotate-minus-four" title="Toulouse"><img src="/assets/images/story-us-toulouse.png" alt="Toulouse" title="Toulouse"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.NICE' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="Madrid"><img src="/assets/images/story-us-madrid.png" alt="Madrid" title="Madrid"/></span>
        <span class="rotate-minus-four" title="Rome"><img src="/assets/images/story-us-rome.png" alt="Rome" title="Rome"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.INTERPRETER' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-eight" title="Heriott-Wat"><img src="/assets/images/story-us-heriott-watt.png" alt="Heriot-Watt" title="Heriot-Watt"/></span>
        <span class="rotate-minus-sixteen" title="Edinburgh!"><img src="/assets/images/story-us-edinburgh.png" alt="Edinburgh!" title="Edinburgh!"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.BARNES' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="London"><img src="/assets/images/story-us-london.png" alt="London" title="London"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.HAPPY' | translate }}
      </p>


      <div class="polaroid-images">
        <span class="rotate-minus-four" title="New York"><img src="/assets/images/story-us-new-york.png" alt="New York" title="New York"/></span>
        <span class="rotate-plus-four" title="Amsterdam"><img src="/assets/images/story-us-amsterdam.png" alt="Amsterdam" title="Amsterdam"/></span>
        <span class="rotate-plus-eight" title="Stockholm"><img src="/assets/images/story-us-stockholm.png" alt="Stockholm" title="Stockholm"/></span>
        <span class="rotate-minus-four" title="Vizille"><img src="/assets/images/story-us-vizille.png" alt="Vizille" title="Vizille"/></span>
        <span class="rotate-plus-four" title="Prague"><img src="/assets/images/story-us-prague.png" alt="Pragues" title="Prague"/></span>
      </div>

      <p>
        {{ 'OUR-STORY.CONCLUSION' | translate }}<span class="bold">{{ 'OUR-STORY.PROPOSED' | translate }}</span>
      </p>

    </div>
  </div>

</div>
