.news-apps-background {
    background-color: rgb(146, 186, 196);
}

.news-apps-viewport {
  min-height: 100vh;
}

h1 {
  font-size: 6vmin;
  padding: 10vmin 10vmin 3vh;
}

h2 {
  font-size: 4vmin;
}

.instax-app-links {
  margin-bottom: 0;
}

img {
  margin-bottom: 4vmin;
}
