<div class="full-image-container news-apps-viewport news-apps-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">
      <h1>
        {{ 'NEWS.APPS.TITLE' | translate }}
      </h1>

      <h2>{{ 'NEWS.APPS.DATE' | translate }}</h2>

      <p>{{ 'NEWS.APPS.WELCOME' | translate }}</p>

      <p>{{ 'NEWS.APPS.DETAILS' | translate }}</p>

      <p>
        {{ 'NEWS.APPS.INSTAX-A' | translate }}
        <span class="bold">{{ 'NEWS.APPS.INSTAX-B' | translate }}</span>
        {{ 'NEWS.APPS.INSTAX-C' | translate }}
        <span class="bold">{{ 'NEWS.APPS.INSTAX-D' | translate }}</span>
        {{ 'NEWS.APPS.INSTAX-E' | translate }}
      </p>

      <p class="instax-app-links">
        {{ 'NEWS.APPS.LINKS' | translate }}
        <br/>
        <a href="https://play.google.com/store/apps/details?id=com.fujifilm.instaxshare&hl=en_GB" target="_blank">Android</a>
        <br/>
        <a href="https://itunes.apple.com/gb/app/instax-share/id716505912?mt=8" target="_blank">iOS</a>
      </p>

      <img class="img-standalone" src="/assets/images/news-instax.jpg" />

      <p>
        {{ 'NEWS.APPS.WEDPICS-A' | translate }}
        <span class="bold">{{ 'NEWS.APPS.WEDPICS-B' | translate }}</span>{{ 'NEWS.APPS.WEDPICS-C' | translate }}
        <a href="https://wedpics.com/home">{{ 'NEWS.APPS.WEDPICS-D' | translate }}</a>
        {{ 'NEWS.APPS.WEDPICS-E' | translate }}<a href="https://go.onelink.me/4011482968?pid=WedPics&c=HomePage&af_web_dp=https://play.google.com/store/apps/details?id=com.dejami.WedPics&hl=en" target="_blank">Android</a>, <a href="https://go.onelink.me/4011482968?pid=WedPics&c=HomePage&af_web_dp=https://itunes.apple.com/us/app/wedpics-wedding-photo-app/id549402355" target="_blank">iOS</a>{{ 'NEWS.APPS.WEDPICS-F' | translate }}
        <span class="bold">Love-Chartreuse</span>{{ 'NEWS.APPS.WEDPICS-G' | translate }}
      </p>

      <p>{{ 'NEWS.APPS.BYE' | translate }}</p>
      <p>{{ 'NEWS.APPS.SIGNATURE' | translate }}</p>

    </div>

  </div>
</div>
