<div class="full-image-container light-blue-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        YOUR TRIP TO SANTIAGO
      </h1>

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-city.jpg" />

      <p class="part-one">
        Santiago de Compostela is the capital of the Spanish region of Galicia. It is known as the final stop on the epic Camino
        de Santiago pilgrimage trail. Its old town is a World Heritage Site, and its arcaded stone streets are impregnated with art,
        history and legends. 
      </p>

      <p>
        You cannot leave Santiago without visiting the Cathedral, which is the reputed burial place of St James the Great, a grand
        Romanesque structure with later Gothic and Baroque additions, as well as the <span class="italic-text">prazas</span> (squares) and narrow <span class="italic-text">rúas</span> (streets) surrounding
        it. 
      </p>

      <h2 id="getting-there">
        GETTING THERE
      </h2>

      <p>
        Santiago de Compostela has an airport with direct flights to and from London (with Ryanair, Easyjet and Vueling), Madrid,
        Barcelona, Paris (Vueling) and other European destinations. 
      </p>

      <p>
        A Coruña, a city which is only half an hour away from Santiago and that most of you probably know because of its wonderful
        football team (go Dépor go!), also has an airport with direct flights to and from London (with Vueling).
      </p>

      <p>
        Sometimes flying out to Porto in Northern Portugal can be a good option too. There are many flights to and from London,
        Paris, Lyon, Toulouse, among other destinations. Then it's possible to travel to Santiago by coach from Porto's airport.
        The journey takes about three hours. 
      </p>

      <p>
        And of course, for the bravest among you there is one more option: el Camino! But start getting your pilgrim boots ready,
        as it will take you a few months to reach Santiago and we wouldn't want you to miss such a special occasion! :p
      </p>

      <h2 id="where-to-sleep">
        WHERE TO SLEEP
      </h2>

      <p>
        There are many different options in terms of accommodation: hotels, Airbnb, hostels, guesthouses... So you shouldn't have
        any issues finding a place to stay. However, please be aware that Santiago attracts many tourists, especially during the
        summer, so we highly recommend booking your accommodation as soon as possible!
      </p>

      <p>
        First, you might have noticed our wedding venue is also a
        <a href="http://www.sanfranciscohm.com/" target="_blank">hotel</a>. It is a beautifully restored old convent and our wedding guests can enjoy a discount if they choose to stay there.
        Please let us know if you are interested in booking a room there so that we can block it for you. The final price with the
        discount will be €116 per night.
      </p>

      <p>
        However, Santiago is a small town and our wedding will take place in the city centre, so there are many more accommodation
        options (and most of them more affordable) only a few minutes away from the venue.
      </p>

      <p>
        Here are a few suggestions for travelers with different budgets.
      </p>

      <h3>
        IF YOU ARE TRAVELLING ON A BUDGET:
      </h3>

      <p>
        <a href="http://www.hsanmartinpinario.com/" target="_blank">Hospedería San Martín Pinario *</a> It is just a couple of minutes’ walk from
        our wedding venue and from the Cathedral. The rooms are quite basic but ensuite, so you will have your own private bathroom,
        and the location is unbeatable. This place is VERY popular so we recommend booking as soon as possible.
      </p>

      <p>
        There are many other pensions and hostels such as <span class="bold">Hospedería Vía Lucis</span> and <span class="bold">Hostal Mafer.</span>
      </p>

      <h3>
        SOME HOTELS WE LIKE:
      </h3>

      <p>
        <a href="http://www.pazodealtamira.com/en/" target="_blank">Hotel Pazo de Altamira ***</a> Functional and contemporary design in the heart
        of the Old Town. Just a few minutes away from our wedding venue.
      </p>

      <p>
        <a href="http://smartboutiquehotelliterariosanbieito.com-santiago.info/en/" target="_blank">Smart Boutique Hotel Literario San Bieito ***</a>
        “Smart” for all the technical gadgets available in the rooms; “literary” for its Galician literature theme. Comfortable rooms
        in a converted 16th century building. Located in the Old Town.
      </p>

      <p>
        <a href="http://sanmiguelsantiago.com/" target="_blank">Hotel Gastronómico San Miguel ***</a> Ideal spot for travellers, nestled in the
        heart of the Old Town.
      </p>

      <p class="before-list">
        Other options (also located in the Old Town and minutes away from the venue):
      </p>

      <ul>
        <li>
          <a href="https://www.mourehotel.com/en" target="_blank">Hotel Moure **</a>
        </li>
        <li>
          <a href="https://www.costavella.com/en" target="_blank">Hotel Costa Vella **</a>
        </li>
        <li>
          <a href="http://www.carrishoteles.com/en/hotels/hotel-carris-casa-de-la-troya-santiago-de-compostela/" target="_blank">Carrís Casa da Troya ***</a>
        </li>
        <li>
          <a href="https://www.altairhotel.net/en" target="_blank">Hotel Altair ***</a>
        </li>
        <li>
          <a href="http://palaciodelcarmen.com/" target="_blank">Hotel AC Palacio del Carmen *****</a>
        </li>
      </ul>

      <h2 id="where-to-eat">
        WHERE TO EAT
      </h2>

      <p>
        The <span class="italic-text">rúas</span> around the Cathedral are full of restaurants and bars where you can enjoy delicious Galician tapas such as <span class="italic-text">pulpo</span>
        (octopus), <span class="italic-text">empanada</span>, <span class="italic-text">tortilla</span>... with a glass of Albariño or Ribeiro or a <span class="italic-text">caña</span> of Estrella Galicia, our local beer. Here
        are some recommendations:
      </p>

      <p>
        <a href="http://dezaseis.com/" target="_blank">O dezaséis</a>: Traditional Galician tapas. Booking in advance is highly recommended.
      </p>

      <p>
        La Tita: Their Spanish <span class="italic-text">tortilla</span> is very popular.
      </p>

      <p>
        <a href="http://abastoscompostela.com/" target="_blank">Abastos 2.0</a>: Original and busy marketside eatery.
      </p>

      <p class="before-list">
        Other options:
      </p>

      <ul>
        <li>
          <a href="https://www.amoa32.com/" target="_blank">A moa</a>
        </li>
        <li>
          <a href="http://amaceta.com/" target="_blank">A maceta</a>
        </li>
      </ul>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Empanada">
          <img src="/assets/images/trip-santiago-empanada.jpg" alt="Empanada" title="Empanada" />
        </span>
        <span class="rotate-plus-four" title="Tortilla & caña">
          <img src="/assets/images/trip-santiago-tortilla.jpg" alt="Tortilla & caña" title="Tortilla & caña" />
        </span>
        <span class="rotate-minus-four" title="Pulpo">
          <img src="/assets/images/trip-santiago-pulpo.jpg" alt="Pulpo" title="Pulpo" />
        </span>
      </div>

      <p>
        And if tapas are not your thing, here are a few restaurants we really like:
      <p>

      <p>
        <a href="http://www.ocurrodaparra.com/en/" target="_blank">O curro da parra</a>: Galician fine and creative cuisine.
      </p>

      <p>
        <a href="http://osendeiro.com/" target="_blank">O sendeiro</a>: Galician food experience.
      </p>

      <p>
        <a href="http://www.cafedealtamira.com/es/" target="_blank">Café de Altamira</a>: Seasonal Galician dishes with a contemporary twist.
      </p>

      <p class="before-list">
        Other options:
      </p>

      <ul>
        <li>
           A Tafona
        </li>
        <li>
          <a href="https://www.mansorestaurante.com/" target="_blank">Restaurante Manso</a>
        </li>
      </ul>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="Dessert">
          <img src="/assets/images/trip-santiago-dessert.jpg" alt="Dessert" title="Dessert" />
        </span>
        <span class="rotate-minus-four" title="Salmonete">
          <img src="/assets/images/trip-santiago-salmonete.jpg" alt="Salmonete" title="Salmonete" />
        </span>
      </div>

      <h2 id="where-to-drink">
        WHERE TO DRINK
      </h2>

      <p>
        Anywhere. Santiago is full of tiny bars and terraces where you can enjoy some wine or beer. We recommend a wine route (or
        pub crawl) called “París-Dakar” along two of the <span class="italic-text">rúas</span> in the Old Town: Rúa do Franco and Rúa da Raíña. It has nothing to
        do with cars or raids though! There are two bars in Santiago called the París and the Dakar. You must begin your route at
        the París and drink a glass of wine in each of the bars on that street until you reach the last one, the Dakar. In most places
        you can sip wine from Galician old-fashioned bowls called <span class="italic-text">cuncas</span>, as you can see on the picture:
      </p>

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-cunca.jpg" />

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-street.jpg" />

      <p class="before-list">
        If you are looking for a nice bar, we recommend:
      </p>

      <ul>
        <li>
          <a href="http://www.pubmomo.com/nueva/index.html" target="_blank">Pub Momo</a>
        </li>
        <li>
          Modus Vivendi
        </li>
        <li>
          Chocolate
        </li>
        <li>
          Camalea
        </li>
      </ul>

      <p>
        ¡SALUD!
      </p>

      <h2 id="a-costa-da-morte">
         A COSTA DA MORTE
      </h2>

      <p>
        And if you decide to stay in Galicia for a few more days you can visit other Galician cities such as A Coruña, Pontevedra...
        or head towards the Death Coast! 
      </p>

      <p>
        You can visit the Land's End (the Cape Finisterre), the Virxe da Barca Sanctuary in Muxía, enjoy a drink with a view in
        Lires, walk along Carnota's beach or find the hidden waterfall in Ézaro.
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="Cape Finisterre">
          <img src="/assets/images/costa-da-morte-finisterre.jpg" alt="Cape Finisterre" title="Cape Finisterre" />
        </span>
        <span class="rotate-plus-four" title="Muxía">
          <img src="/assets/images/costa-da-morte-muxia.jpg" alt="Muxía" title="Muxía" />
        </span>
        <span class="rotate-minus-four" title="Ézaro">
          <img src="/assets/images/costa-da-morte-ezaro.jpg" alt="Ézaro" title="Ézaro" />
        </span>
      </div>

      <p>
        Do not hesitate to contact us if you have any questions, we’ll be happy to help!
      </p>

      <p>
        We really hope you enjoy your trip and we look forward to seeing all of your pictures!
      </p>
    </div>
  </div>
</div>
