<div class="full-image-container light-blue-background">

  <app-menu></app-menu>

  <div class="padding-border">
    <div class="white-bkgd">

      <h1>
        {{ 'YOUR-TRIP.SANTIAGO.TITLE' | translate }}
      </h1>

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-city.jpg" />

      <p class="part-one">
        {{ 'YOUR-TRIP.SANTIAGO.DETAILS' | translate }}
      </p>

      <p>
        {{ 'YOUR-TRIP.SANTIAGO.VISITS-ONE' | translate }}
        <span class="italic-text">prazas</span>
        {{ 'YOUR-TRIP.SANTIAGO.VISITS-TWO' | translate }}
        <span class="italic-text">rúas</span>
        {{ 'YOUR-TRIP.SANTIAGO.VISITS-THREE' | translate }}
      </p>

      <h2 id="getting-there">
        {{ 'YOUR-TRIP.GETTING-THERE.TITLE' | translate }}
      </h2>

      <p>
        {{ 'YOUR-TRIP.GETTING-THERE.AIRPORT' | translate }}
      </p>

      <p *ngIf="translate.currentLang === 'es'; else otherLanguages">
        {{ 'YOUR-TRIP.GETTING-THERE.CORUNA' | translate }}<span class="italic-text">FORZA</span>
        {{ 'YOUR-TRIP.GETTING-THERE.CORUNA-TWO' | translate }}
      </p>
      <ng-template #otherLanguages>
        <p>
          {{ 'YOUR-TRIP.GETTING-THERE.CORUNA' | translate }}
        </p>
      </ng-template>

      <p>
        {{ 'YOUR-TRIP.GETTING-THERE.PORTO' | translate }} 
      </p>

      <p>
        {{ 'YOUR-TRIP.GETTING-THERE.CAMINO' | translate }} 
      </p>

      <h2 id="where-to-sleep">
        {{ 'YOUR-TRIP.SLEEP.TITLE' | translate }}
      </h2>

      <p>
         {{ 'YOUR-TRIP.SLEEP.DETAILS' | translate }}
      </p>

      <p>
         {{ 'YOUR-TRIP.SLEEP.FRANCISCO' | translate }}
        <a href="http://www.sanfranciscohm.com/" target="_blank">{{ 'YOUR-TRIP.SLEEP.HOTEL' | translate }}</a>.
         {{ 'YOUR-TRIP.SLEEP.FRANCISCO-DETAILS' | translate }}
         <span class="bold">{{ 'YOUR-TRIP.SLEEP.FRANCISCO-LET-KNOW' | translate }}</span>
         {{ 'YOUR-TRIP.SLEEP.FRANCISCO-PRICE' | translate }}

      </p>

      <p>
        {{ 'YOUR-TRIP.SLEEP.SMALL' | translate }}
      </p>

      <p>
        {{ 'YOUR-TRIP.SLEEP.SUGGESTION' | translate }}
      </p>

      <h3>
        {{ 'YOUR-TRIP.BUDGET.TITLE' | translate }}
      </h3>

      <p>
        <a href="http://www.hsanmartinpinario.com/" target="_blank">Hospedería San Martín Pinario *</a>
         {{ 'YOUR-TRIP.BUDGET.PINARIO' | translate }}
      </p>

      <p>
        {{ 'YOUR-TRIP.BUDGET.LUCIS' | translate }}
        <span class="bold">Hospedería Vía Lucis</span>
        {{ 'AND' | translate }}
        <span class="bold">Hostal Mafer.</span>
      </p>

      <h3>
        {{ 'YOUR-TRIP.LIKE.TITLE' | translate }}
      </h3>

      <p>
        <a href="http://www.pazodealtamira.com/" target="_blank">Hotel Pazo de Altamira ***</a>
        {{ 'YOUR-TRIP.LIKE.ALTAMIRA' | translate }}
      </p>

      <p>
        <a href="http://smartboutiquehotelliterariosanbieito.com-santiago.info/" target="_blank">Smart Boutique Hotel Literario San Bieito ***</a>
        {{ 'YOUR-TRIP.LIKE.BIEITO' | translate }}
      </p>

      <p>
        <a href="http://sanmiguelsantiago.com/" target="_blank">Hotel Gastronómico San Miguel ***</a>
        {{ 'YOUR-TRIP.LIKE.SAN-MIGUEL' | translate }}
      </p>

      <p class="before-list">
        {{ 'YOUR-TRIP.LIKE.OTHERS' | translate }}
      </p>

      <ul>
        <li>
          <a href="https://www.mourehotel.com" target="_blank">Hotel Moure **</a>
        </li>
        <li>
          <a href="https://www.costavella.com" target="_blank">Hotel Costa Vella **</a>
        </li>
        <li>
          <a href="http://www.carrishoteles.com/en/hotels/hotel-carris-casa-de-la-troya-santiago-de-compostela/" target="_blank">Carrís Casa da Troya ***</a>
        </li>
        <li>
          <a href="https://www.altairhotel.net" target="_blank">Hotel Altair ***</a>
        </li>
        <li>
          <a href="http://palaciodelcarmen.com/" target="_blank">Hotel AC Palacio del Carmen *****</a>
        </li>
      </ul>

      <h2 id="where-to-eat">
        {{ 'YOUR-TRIP.EAT.TITLE' | translate }}
      </h2>

      <p>
        {{ 'YOUR-TRIP.EAT.DESCRIPTION-START' | translate }}<span class="italic-text">rúas</span>{{ 'YOUR-TRIP.EAT.DESCRIPTION-ONE' | translate }}<span class="italic-text">pulpo</span>{{ 'YOUR-TRIP.EAT.DESCRIPTION-TWO' | translate }}<span class="italic-text">empanada</span>, <span class="italic-text">tortilla</span>{{ 'YOUR-TRIP.EAT.DESCRIPTION-THREE' | translate }}<span class="italic-text">caña</span>{{ 'YOUR-TRIP.EAT.DESCRIPTION-FOUR' | translate }}
      </p>

      <p>
        <a href="http://dezaseis.com/" target="_blank">O dezaséis</a>:
        {{ 'YOUR-TRIP.EAT.RESTO-ONE' | translate }}
      </p>

      <p>
        La Tita:
        {{ 'YOUR-TRIP.EAT.TITA-START' | translate }}
        <span class="italic-text">tortilla</span>
         {{ 'YOUR-TRIP.EAT.TITA-END' | translate }}
      </p>

      <p>
        <a href="http://abastoscompostela.com/" target="_blank">Abastos 2.0</a>:
        {{ 'YOUR-TRIP.EAT.ABASTOS' | translate }}
      </p>

      <p class="before-list">
        {{ 'YOUR-TRIP.EAT.OTHERS' | translate }}
      </p>

      <ul>
        <li>
          <a href="https://www.amoa32.com/" target="_blank">A moa</a>
        </li>
        <li>
          <a href="http://amaceta.com/" target="_blank">A maceta</a>
        </li>
      </ul>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.EMPANADA' | translate }}">
          <img src="/assets/images/trip-santiago-empanada.jpg" alt="Empanada" title="Empanada" />
        </span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.TORTILLA' | translate }}">
          <img src="/assets/images/trip-santiago-tortilla.jpg" alt="Tortilla & caña" title="Tortilla & caña" />
        </span>
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.PULPO' | translate }}">
          <img src="/assets/images/trip-santiago-pulpo.jpg" alt="Pulpo" title="Pulpo" />
        </span>
      </div>

      <p>
        {{ 'YOUR-TRIP.EAT.NO-TAPAS' | translate }}
      <p>

      <p>
        <a href="http://www.ocurrodaparra.com/en/" target="_blank">O curro da parra</a>:
        {{ 'YOUR-TRIP.EAT.CURRO' | translate }}
      </p>

      <p>
        <a href="http://osendeiro.com/" target="_blank">O sendeiro</a>:
         {{ 'YOUR-TRIP.EAT.SENDEIRO' | translate }}
      </p>

      <p>
        <a href="http://www.cafedealtamira.com/es/" target="_blank">Café de Altamira</a>:
        {{ 'YOUR-TRIP.EAT.ALTAMIRA' | translate }}
      </p>

      <p class="before-list">
        {{ 'YOUR-TRIP.EAT.LAST-RESTO' | translate }}
      </p>

      <ul>
        <li>
           A Tafona
        </li>
        <li>
          <a href="https://www.mansorestaurante.com/" target="_blank">Restaurante Manso</a>
        </li>
      </ul>

      <div class="polaroid-images">
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.DESSERT' | translate }}">
          <img src="/assets/images/trip-santiago-dessert.jpg" alt="Dessert" title="Dessert" />
        </span>
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.SALMONETE' | translate }}">
          <img src="/assets/images/trip-santiago-salmonete.jpg" alt="Salmonete" title="Salmonete" />
        </span>
      </div>

      <h2 id="where-to-drink">
        {{ 'YOUR-TRIP.DRINK.TITLE' | translate }}
      </h2>

      <p>
        {{ 'YOUR-TRIP.DRINK.DETAILS-ONE' | translate }}
        <span class="italic-text">rúas</span>
        {{ 'YOUR-TRIP.DRINK.DETAILS-TWO' | translate }}
        <span class="italic-text">cuncas</span>{{ 'YOUR-TRIP.DRINK.DETAILS-THREE' | translate }}
      </p>

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-cunca.jpg" />

      <img class="img-standalone santiago" src="/assets/images/trip-santiago-street.jpg" />

      <p class="before-list">
        {{ 'YOUR-TRIP.DRINK.RECOMMENDED' | translate }}
      </p>

      <ul>
        <li>
          <a href="http://www.pubmomo.com/" target="_blank">Pub Momo</a>
        </li>
        <li>
          Modus Vivendi
        </li>
        <li>
          Chocolate
        </li>
        <li>
          Camalea
        </li>
      </ul>

      <p>
        ¡SALUD!
      </p>

      <h2 id="a-costa-da-morte">
        {{ 'YOUR-TRIP.COSTA.TITLE' | translate }}
      </h2>

      <p>
        {{ 'YOUR-TRIP.COSTA.INTRO' | translate }}
      </p>

      <p>
        {{ 'YOUR-TRIP.COSTA.DETAILS' | translate }}
      </p>

      <div class="polaroid-images">
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.CAPE' | translate }}">
          <img src="/assets/images/costa-da-morte-finisterre.jpg" alt="Cape Finisterre" title="Cape Finisterre" />
        </span>
        <span class="rotate-plus-four" title="{{ 'POLAROIDS.MUXIA' | translate }}">
          <img src="/assets/images/costa-da-morte-muxia.jpg" alt="Muxía" title="Muxía" />
        </span>
        <span class="rotate-minus-four" title="{{ 'POLAROIDS.EZARO' | translate }}">
          <img src="/assets/images/costa-da-morte-ezaro.jpg" alt="Ézaro" title="Ézaro" />
        </span>
      </div>

      <p>
        {{ 'YOUR-TRIP.COSTA.CONTACT' | translate }}
      </p>

      <p>
         {{ 'YOUR-TRIP.COSTA.ENJOY' | translate }}
      </p>
    </div>
  </div>
</div>
