.light-blue-background {
  background-image: url('/assets/background/dark-blue-background.png');
}

.santiago {
  height: 30vmin;
}

.before-list {
  margin-bottom: 0;
}

.italic-text {
  font-style: italic;
}

ul {
  padding-bottom: 3vh;
  text-align: left;

  li {
    margin-left: 5vw;
  }
}
