.light-blue-background {
  background-color: rgb(146, 186, 196);
}

.santiago {
  height: 30vmin;
}

.before-list {
  margin-bottom: 0;
}

ul {
  padding-bottom: 3vh;
  text-align: left;

  li {
    margin-left: 5vw;
  }
}
